#root {
  max-width: 1280px;
  text-align: center;
}

.container {
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    border: 1px solid transparent;
  }

  @media (min-width: 1200px) {
    flex-direction: row !important;
    padding-bottom: 0px;
    justify-content: flex-start;
    width: 100%;
  }
}

.contentContainer {
  background-color: #FFFFFF;

  @media (min-width: 1200px) {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.logoContainer {
  background-color: #FFFFFF;
  width: 100vw;

  @media (min-width: 1200px) {
    max-width: 100%;
    margin-bottom: 45px;
  }
}

.logo {
  width: 236px;
  height: 72px;
  margin-top: 10px;
  margin-bottom: 18px;

  @media (min-width: 1200px) {
    width: 458.89px;
    height: 140px;
  }
}

.productInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 15px;
  margin-top: -2px;
  margin-bottom: -2px;
  background-color: #FFFFFF;

  @media (min-width: 1200px) {
    margin-bottom: 35px;
    gap: 30px;
  }
}

.productImgContainer {
  width: 150px;
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1200px) {
    width: 212px;
    height: 211px;
  }
}

.productImg {
  width: 91.38px;
  height: 112.66px;

  @media (min-width: 1200px) {
    width: 129px;
    height: 159px;
  }
}

/* .product-img {
  width: 150px;
  height: 149.5px;
} */

.productDetails {
  /* text-align: left;
  margin-left: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column; */
}

.title {
  margin: 0;
  text-align: left;
  font-size: 23.77px;
  font-weight: 700;
  line-height: 25.08px;
  max-width: 169px;

  @media (min-width: 1200px) {
    font-size: 33.52px;
    margin-bottom: 10px;
  }
}

.details {
  margin: 0;
  max-width: 166.6px;
  font-weight: 600;
  font-size: 12.52px;
  line-height: 18.78px;
  text-align: left;

  @media (min-width: 1200px) {
    font-size: 17.66px;
    max-width: 235px;
    margin-bottom: 15px;
    margin-top: -15px;
  }
}

.date {
  margin: 0;
  font-size: 9.39px;
  font-weight: 600;
  line-height: 14.09px;
  text-align: left;

  @media (min-width: 1200px) {
    font-size: 13.25px;
    margin-bottom: 10px;
  }
}

.certifiedContainer {
  width: 162.9px;
  height: 50.08px;

  @media (min-width: 1200px) {}
}

.certifiedBackground {
  background-color: #FFFFFF;

  @media (min-width: 1200px) {
    width: 230px;
  }
}

.certifiedText {
  background-color: #FFFFFF;
  position: relative;
  left: -3.3px;
  top: -48px;

  @media (min-width: 1200px) {
    width: 205px;
    top: -66px;
    left: 8px;
  }
}

.description {
  /* max-width: 352px;
  width: 90vw;
  text-align: left;
  margin-bottom: 15px; */
}

.relatedProductsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

.relatedProductsTitle {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: 1200px) {
    font-size: 16.92px;
    margin-bottom: 60px;
  }
}

.relatedProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 15px;

  @media (min-width: 1200px) {
    margin-bottom: 60px;
  }
}

.relatedProductButton {
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1200px) {
    width: 112.83px;
    height: 112.45px;
  }
}

.relatedProductImg {
  width: 48.74px;
  height: 60.08px;

  @media (min-width: 1200px) {
    width: 68.73px;
    height: 84.74px;
  }
}

.clickHereContainer {
  background-color: #36BFE8;
  width: 262.95px;
  height: 42.29px;
  border-radius: 34.6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #36BFE8;

  img {
    position: relative;
    right: -70px;
  }

  @media (min-width: 1200px) {
    width: 370.84px;
    height: 59.64px;
  }
}

.clickHereButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;

  p {
    font-size: 12.3px;
    font-weight: 600;
    line-height: 14.42px;
    margin-right: -20px;

    @media (min-width: 1200px) {
      font-size: 17.35px;
    }
  }
}

.site-logo {
  /* width: 80px;
  height: 80px;
  border-radius: 50%; */
}


.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;


  h4 {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    width: 158px;
    margin-right: 15px;

    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }

  @media (min-width: 1200px) {
    width: 50vw;
  }
}

.aprovedAbout {
  background-color: #FF914D;
  border-radius: 5px;
  margin-top: 25px;
  width: 85vw;
  height: 157.66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;

  img {
    width: 207.5px;
    height: 197.44px;

    position: relative;
    top: -20px;
    left: -20px;
    margin-right: -10px;

    @media (min-width: 1200px) {
      width: 298.42px;
      height: 283.96px;
      top: -29px;
      left: -55px;
    }
  }

  @media (min-width: 1200px) {
    width: 535.87px;
    height: 226.75px;
    justify-content: space-evenly;
  }
}


.esgAbout {
  background-color: #009D90;
  border-radius: 5px;
  width: 85vw;
  height: 159.25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;

  img {
    width: 164.08px;
    height: 161.47px;

    @media (min-width: 1200px) {
      width: 235.98px;
      height: 232.22px;

      position: relative;
      top: 5px;
      left: -40px;
    }
  }

  @media (min-width: 1200px) {
    width: 535.87px;
    height: 226.75px;
    justify-content: space-evenly;
  }
}

.dowloandAbout {
  background-color: #35BEEC;
  border-radius: 5px;
  width: 85vw;
  height: 158.13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;

  button {
    background: transparent;
  }

  img {
    @media (min-width: 1200px) {
      width: 212.51px;
      height: 139.49px;
    }
  }

  @media (min-width: 1200px) {
    width: 535.87px;
    height: 226.75px;
    justify-content: space-evenly;
  }
}


.downlaodButtonsContainer {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @media (min-width: 1200px) {
    justify-content: center;
    width: fit-content;
  }
}


.appleButton {
  width: 154.93px !important;
  height: 44.92px !important;
  margin: 0;
  padding: 0;

  @media (min-width: 1200px) {
    width: 222.82px !important;
    height: 64.6px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.androidButton {
  width: 154.93px !important;
  height: 44.92px !important;
  margin: 0;
  padding: 0;

  @media (min-width: 1200px) {
    width: 222.82px !important;
    height: 64.6px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}








/* Media Queries */
@media (min-width: 768px) {
  .container {
    /* margin-top: 5vh;
    padding-bottom: 5vh;
    max-width: 800px; */
  }

  .logo {
    /* top: -3vh;
    width: 15vw; */
  }

  .productInfo {
    /* margin-bottom: 2vh; */
  }

  .product-img {
    /* width: 15vw;
    height: auto; */
  }

  .productDetails {
    /* margin-left: 2vw; */
  }

  .title {
    /* font-size: 2vw; */
  }

  .details {
    /* font-size: 1.5vw; */
  }

  .description {
    /* margin-bottom: 3vh;
    max-width: 80vw; */
  }

  .relatedProducts {
    /* gap: 2vw; */
    /* margin-bottom: 3vh; */
  }

  .productImg {
    /* width: 12vw !important; */
    /* height: auto !important; */
  }

  .relatedProductButton {
    /* width: 12vw; */
    /* height: auto; */
    /* border-radius: 1vw; */
  }

  .relatedProductImg {
    /* width: 12vw; */
    /* height: auto; */
  }

  .clickHereButton {
    /* width: 10vw; */
    /* height: 10vw; */
  }

  .site-logo {
    /* width: 9.5vw; */
    /* height: 9.5vw; */
  }
}